version: '3.8'

services:
  orbbec-validation:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: orbbec-validation
    privileged: true
    network_mode: host
    devices:
      - "/dev:/dev"
    volumes:
      - /tmp/recordingns:/tmp/recordingns
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    command: ["ros2", "launch", "orbbec_validation_launch", "orbbec_validation.launch.py"]
    restart: unless-stopped

